@page "/advertisers"

@using BlazorApp.Data
@inject MarketingCampaignService MarketingCampaignService
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
        <div>
            <b>
                Advertisers<br/>
                <small>This page shows the advertisers who can request for a market campiagn.</small>
            </b>
        </div>
        <div>
            <button class="btn btn-info text-capitalize" @onclick="@(() => ShowEdit(0))">
             add     <i class="fa fa-plus"></i>
            </button>
        </div>

    </div>
    <div class="card-body">
        @if (MarketingCampaignService.Advertisers == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var advertiser in MarketingCampaignService.Advertisers)
                {
                    <tr>
                        <td>@advertiser.Id</td>
                        <td>@advertiser.Name</td>
                        <td>@advertiser.Email</td>
                        <td>
                            <button @onclick="@(() => ShowEdit(@advertiser.Id))" class="btn btn-light ">
                                <i class="fa fa-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>
</div>


@code {

    [CascadingParameter]
    public IModalService Modal { get; set; }

    async void ShowEdit(long id)
    {
        var parameters = new ModalParameters();
        parameters.Add("EditAdvertiser", id > 0 ? MarketingCampaignService.Advertisers.FirstOrDefault((advertiser) =>advertiser.Id == id) : null);
        var formModal = Modal.Show<AddAdvertiser>("Edit Advertisers", parameters);
        var result = await formModal.Result;
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            MarketingCampaignService.Advertisers.Add((Advertiser) result.Data);
            StateHasChanged();
        }
    }

}