@page "/medias"

@using BlazorApp.Data
@inject MarketingCampaignService MarketingCampaignService
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
        <div>
            <b>
                Media<br/>
                <small>You marketing assets.</small>
            </b>
        </div>
        <div>
            <button class="btn btn-info text-capitalize" @onclick="@(() => ShowEditCampaign(0))">
                <i class="fa fa-add"></i> add
            </button>
        </div>

    </div>
    <div class="card-body">
        @if (MarketingCampaignService.MarketingCampaigns == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Advertiser</th>
                    <th>CreatedAt</th>
                    <th>Channels</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var media in MarketingCampaignService.Medias)
                {
                    <tr>
                        <td>@media.Id</td>
                        <td>@media.Name</td>
                        <td>@media.Advertiser?.Name</td>
                        <td>@media.CreatedAt</td>
                        <td>
                            @foreach (var channel in media.Channels)
                            {
                                <span class="mr-2">@channel?.Name,</span>
                            }
                        </td>
                        <td>
                            <button @onclick="@(() => ShowEditCampaign(media.Id))" class="btn btn-light ">
                                <i class="fa fa-edit text-primary"></i>
                            </button>
                            @if (@media.MediaFile != null)
                            {
                                <a href="@media.MediaFile" class="btn btn-light mx-3">
                                    <i class="fa fa-link text-warning"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>
</div>


@code {

    [CascadingParameter]
    public IModalService Modal { get; set; }

    async void ShowEditCampaign(long id)
    {
        var parameters = new ModalParameters();
        parameters.Add("EditMarketCampaign", id > 0 ? MarketingCampaignService.Medias.FirstOrDefault((media) => media.Id == id) : null);
        var formModal = Modal.Show<AddMedia>("Add Media", parameters);
        var result = await formModal.Result;

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            MarketingCampaignService.Medias.Add((Media) result.Data);
            StateHasChanged();
        }
    }

}